/esm
/node_modules
/example/yarn.lock
/example/node_modules

# Rust
/generateCsvByRust/target
/generateCsvByRust/Cargo.lock

# E2E test
/test/e2e/node_modules
/test/e2e/test-results
test/e2e/package-lock.json
ken-all-*.tgz
