name: Deploy to S3

on:
  push:
    branches:
      - master
    paths:
      - 'postalCode/**'
      - '.github/workflows/deploy.yml'

jobs:
  test:
    uses: ./.github/workflows/pr.yml

  deploy:
    needs: test
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-1

      - name: Deploy to S3
        run: |
          aws s3 sync postalCode/ s3://${{ secrets.AWS_S3_BUCKET_NAME }} --delete

      - name: Cache clear
        run: |
          aws cloudfront create-invalidation --distribution-id ${{ secrets.AWS_CLOUDFRONT_DISTRIBUTION_ID }} --paths '/*'
